@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://raw.githubusercontent.com/surgedevs/visual-refresh-compact-title-bar/refs/heads/main/desktop.css');

:root {
    --vr-header-snippet-top: 0px !important;
    --vr-header-snippet-server-padding: 0px !important;
    --vr-header-snippet-space: 180px !important;
    --vr-header-snippet-button-padding: 0 !important;
    --vr-header-snippet-winbuttons: flex !important;
}

/* Font changing */
body {
    container-name: body;
    /* font, change to '' for default discord font */
    --font: 'figtree';
    --code-font: '';
    --font-primary: var(--font), 'gg sans';
    --font-display: var(--font), 'gg sans';
    --font-code: var(--code-font), 'gg mono';
}

/* color changing */
body {
    --blue-2: oklch(70% 0.1 215);
    --mention: linear-gradient(to right, color-mix(in hsl, var(--blue-2), transparent 90%) 40%, transparent); /* background of messages that mention you */
    --mention-hover: linear-gradient(to right, color-mix(in hsl, var(--blue-2), transparent 95%) 40%, transparent); /* background of messages that mention you when hovered */
    --background-mentioned: var(--mention);
    --background-mentioned-hover: var(--mention-hover);
    --mention-background: color-mix(in hsl, var(--blue-2), transparent 90%);

    .mentioned__5126c:before /* mention message left edge */ {
        background-color: var(--blue-2) !important;
    }
}

/* animations.css */
body {
    --list-item-transition: 0.2s ease; /* transition for list items */
    --dms-icon-svg-transition: 0.4s ease; /* transition for the dms icon */
}

@property --animations {
    syntax: 'off | on';
    inherits: false;
    initial-value: on;
}

@container body style(--animations: on) {
    .visual-refresh {
        /* list hover animations */
        .wrapper__2ea32 .link__2ea32 /* channels */,
        .container__91a9d /* members */,
        .channel__972a0 /* dms */,
        .side_b3f026 .item_b3f026 /* settings */ {
            transition: margin-left var(--list-item-transition);
            will-change: margin-left;
        }
        .wrapper__2ea32:hover .link__2ea32,
        .side_b3f026 .item_b3f026:hover {
            margin-left: 10px;
        }
        .container__91a9d:hover,
        .channel__972a0:hover {
            margin-left: 18px;
        }
        /* list hover channel dot */
        .unread__2ea32 {
            border-radius: 50%;
            width: 8px;
            height: 8px;
            margin-left: -4px;
            transition: var(--list-item-transition);
            will-change: margin-left;
        }
        .wrapper__2ea32:hover .unread__2ea32 {
            margin-left: 4px;
        }
    }
}

/* dms button */
body {
    --dms-icon-svg-url: url('https://refact0r.github.io/midnight-discord/assets/Font_Awesome_5_solid_moon.svg'); /* icon svg url. MUST BE A SVG. */
    --dms-icon-svg-size: 90%; /* size of the svg (css mask-size property) */
    --dms-icon-color-before: var(--icon-secondary); /* normal icon color */
    --dms-icon-color-after: var(--white); /* icon color when button is hovered/selected */
    --dms-background-image-url: url(''); /* url of the background image */
    --dms-background-image-size: cover; /* size of the background image (css background-size property) */
    --dms-background-color: linear-gradient(70deg, var(--blue-2), var(--purple-2), var(--red-2)); /* fixed color/gradient (css background property) */
}

@property --custom-dms-icon {
    syntax: 'off | hide | custom';
    inherits: false;
    initial-value: custom;
}

@container body style(--custom-dms-icon: off) {
    .wrapper__6e9f8[data-list-item-id='guildsnav___home'] > .childWrapper__6e9f8 {
        color: var(--dms-icon-color-before);
    }
    .wrapper__6e9f8[data-list-item-id='guildsnav___home']:hover > .childWrapper__6e9f8,
    .wrapper__6e9f8[data-list-item-id='guildsnav___home'].selected__6e9f8 > .childWrapper__6e9f8 {
        color: var(--dms-icon-color-after);
    }
}

@container body style(--custom-dms-icon: custom) {
    .wrapper__6e9f8[data-list-item-id='guildsnav___home'] > .childWrapper__6e9f8 > svg {
        display: none;
    }
    .wrapper__6e9f8[data-list-item-id='guildsnav___home'] > .childWrapper__6e9f8::before {
        content: '';
        display: block;
        position: absolute;
        width: 65%;
        height: 65%;
        background: var(--dms-icon-color-before);
        mask-image: var(--dms-icon-svg-url);
        mask-size: var(--dms-icon-svg-size);
        mask-position: center;
        mask-repeat: no-repeat;
        transition: background-color 0.15s ease-out;
    }
    .wrapper__6e9f8[data-list-item-id='guildsnav___home']:hover > .childWrapper__6e9f8::before {
        transform: rotate(0deg) scale(1);
    }
    .wrapper__6e9f8[data-list-item-id='guildsnav___home']:hover > .childWrapper__6e9f8::before,
    .wrapper__6e9f8[data-list-item-id='guildsnav___home'].selected__6e9f8 > .childWrapper__6e9f8::before {
        background: var(--dms-icon-color-after);
        transform: rotate(-360deg) scale(0.8);
    }

    @container body style(--animations: on) {
        .wrapper__6e9f8[data-list-item-id='guildsnav___home'] .childWrapper__6e9f8::before {
            transition: background-color 0.15s ease-out, transform var(--dms-icon-svg-transition);
        }
    }
}

@container body style(--custom-dms-icon: hide) {
    .wrapper__6e9f8[data-list-item-id='guildsnav___home'] > .childWrapper__6e9f8 > svg {
        display: none;
    }
}

@property --custom-dms-background {
    syntax: 'off | image | color';
    inherits: false;
    initial-value: off;
}

@container body style(--custom-dms-background: image) {
    .wrapper__6e9f8[data-list-item-id='guildsnav___home'] > .childWrapper__6e9f8 {
        background-image: var(--dms-background-image-url);
        background-color: transparent !important;
        background-size: var(--dms-background-image-size);
        background-position: center;
        background-repeat: no-repeat;
    }
}

@container body style(--custom-dms-background: color) {
    .wrapper__6e9f8[data-list-item-id='guildsnav___home'] > .childWrapper__6e9f8 {
        background: var(--dms-background-color);
    }
}


/* UI improvement */
a[href="https://support.discord.com"]
{
    display: none !important;
}

h3.membersGroup_c8ffbb:has(>span.headerContainer__095fe) { /* hide activity box */
    display: none;
}
.container__0f2e8 {
    display: none;
}
.membersGroup_c8ffbb {
    padding-top: 20px !important;
}

div[aria-label="Send a gift"] {
    display: none;
}

div[aria-label="Open GIF picker"] {
    display: none;
}

div[aria-label="Open sticker picker"] {
    display: none;
}

[class*=channelAppLauncher_] {
    display: none !important;
}

div[aria-label="Notifications"] {
    display: none !important;
}

::-webkit-scrollbar {
    display: none;
}

.channelBottomBarArea_f75fb0>div { /* chat bar */
    margin: 0px 0px 8px 0px !important;
    min-height: 0px;
}